USE master
GO

DROP DATABASE [WebProgrammingJPA]
GO

USE [master]
GO

CREATE DATABASE [WebProgrammingJPA]
 CONTAINMENT = NONE
 ON PRIMARY
(
    NAME = N'WebProgrammingBT03',
    FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\WebProgrammingBT03.mdf',
    SIZE = 8192KB,
    MAXSIZE = UNLIMITED,
    FILEGROWTH = 65536KB
)
 LOG ON
(
    NAME = N'WebProgrammingBT03_log',
    FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\WebProgrammingBT03_log.ldf',
    SIZE = 8192KB,
    MAXSIZE = 2048GB,
    FILEGROWTH = 65536KB
)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO

IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
BEGIN
    EXEC [WebProgrammingJPA].[dbo].[sp_fulltext_database] @action = 'enable'
END
GO

ALTER DATABASE [WebProgrammingJPA]
SET QUERY_STORE
(
    OPERATION_MODE = READ_WRITE,
    CLEANUP_POLICY = (STALE_QUERY_THRESHOLD_DAYS = 30),
    DATA_FLUSH_INTERVAL_SECONDS = 900,
    INTERVAL_LENGTH_MINUTES = 60,
    MAX_STORAGE_SIZE_MB = 1000,
    QUERY_CAPTURE_MODE = AUTO,
    SIZE_BASED_CLEANUP_MODE = AUTO,
    MAX_PLANS_PER_QUERY = 200,
    WAIT_STATS_CAPTURE_MODE = ON
)
GO

USE [WebProgrammingJPA]
GO

CREATE TABLE [dbo].[categories]
(
    [categoryid] [int] IDENTITY(1,1) NOT NULL,
    [categoryname] [nvarchar](500) NULL,
    [images] [nvarchar](max) NULL,
    [status] [int] NULL,

    CONSTRAINT [PK_categories] PRIMARY KEY CLUSTERED
    (
        [categoryid] ASC
    )
)
GO

CREATE TABLE [dbo].[roles]
(
    [roleid] [int] IDENTITY(1,1) NOT NULL,
    [rolename] [nvarchar](50) NULL,

    CONSTRAINT [PK_roles] PRIMARY KEY CLUSTERED
    (
        [roleid] ASC
    )
)
GO

CREATE TABLE [dbo].[users]
(
    [id] [int] IDENTITY(1,1) NOT NULL,
    [username] [nvarchar](50) NULL,
    [password] [nvarchar](50) NULL,
    [images] [nvarchar](500) NULL,
    [fullname] [nvarchar](100) NULL,
    [email] [nvarchar](50) NULL,
    [phone] [nvarchar](50) NULL,
    [roleid] [int] NULL,
    [createDate] [datetime] NULL,

    CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED
    (
        [id] ASC
    )
)
GO

SET IDENTITY_INSERT [dbo].[roles] ON

INSERT [dbo].[roles]
    ([roleid], [rolename])
VALUES
    (1, N'ADMIN'),
    (2, N'MANAGER'),
    (3, N'USER')

SET IDENTITY_INSERT [dbo].[roles] OFF
GO

SET IDENTITY_INSERT [dbo].[users] ON

INSERT [dbo].[users]
    ([id], [username], [password], [images], [fullname], [email], [phone], [roleid], [createDate])
VALUES
    (1, N'thong', N'123', NULL, N'ledaithong', N'ledaithong@gmail.com', NULL, 1, NULL),
    (2, N'trung', N'123', NULL, N'phanngoctrung', N'phanngoctrung@gmail.com', NULL, 2, NULL),
    (3, N'thien', N'123', NULL, N'tranngocthien', N'tranngocthien@gmail.com', NULL, 3, NULL)

SET IDENTITY_INSERT [dbo].[users] OFF
GO

ALTER TABLE [dbo].[users]
WITH CHECK ADD CONSTRAINT [FK_users_roles]
FOREIGN KEY ([roleid])
REFERENCES [dbo].[roles] ([roleid])
GO

ALTER TABLE [dbo].[users]
CHECK CONSTRAINT [FK_users_roles]
GO

USE [master]
GO