USE [master]
GO
/****** Object:  Database [WebProgramming]    Script Date: 07-Sep-26 14:32:26 ******/
CREATE DATABASE [WebProgramming]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WebProgrammingBT03', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\WebProgrammingBT03.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WebProgrammingBT03_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\WebProgrammingBT03_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WebProgramming].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WebProgramming]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 07-Sep-26 14:32:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[categoryid] [int] IDENTITY(1,1) NOT NULL,
	[categoryname] [nvarchar](500) NULL,
	[images] [nvarchar](max) NULL,
	[status] [int] NULL,
 CONSTRAINT [PK_categories] PRIMARY KEY CLUSTERED 
(
	[categoryid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 07-Sep-26 14:32:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[roleid] [int] IDENTITY(1,1) NOT NULL,
	[rolename] [nvarchar](50) NULL,
 CONSTRAINT [PK_roles] PRIMARY KEY CLUSTERED 
(
	[roleid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 07-Sep-26 14:32:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL,
	[images] [nvarchar](500) NULL,
	[fullname] [nvarchar](100) NULL,
	[email] [nvarchar](50) NULL,
	[phone] [nvarchar](50) NULL,
	[roleid] [int] NULL,
	[createDate] [datetime] NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[categories] ON 

INSERT [dbo].[categories] ([categoryid], [categoryname], [images], [status]) VALUES (1, N'SamSung', N'SamSung.jpg', 1)
INSERT [dbo].[categories] ([categoryid], [categoryname], [images], [status]) VALUES (2, N'Iphone', N'https://th.bing.com/th/id/R.9928de616bcd41d128c8d72c2cb8b2cf?rik=jK1TUzJ2U4NmHA&riu=http%3a%2f%2fpowermaccenter.com%2fcdn%2fshop%2ffiles%2fiPhone_15_Pro_Max_Natural_Titanium_PDP_Image_Position-1__en-US_3295c924-7c21-417d-870c-32bee7f1e310.jpg%3fv%3d1695861436&ehk=%2fXKRTQlkbXyLRd5nMNtO0IMohTCHKAz1Bn%2bge2Q9ttQ%3d&risl=&pid=ImgRaw&r=0', 0)
INSERT [dbo].[categories] ([categoryid], [categoryname], [images], [status]) VALUES (3, N'Oppo', N'https://www.oppo.com/content/dam/oppo_com/common/mkt/v2-2/reno15-series-in/navigation/reno15-pro/440-440-gold.png', 0)
SET IDENTITY_INSERT [dbo].[categories] OFF
GO
SET IDENTITY_INSERT [dbo].[roles] ON 

INSERT [dbo].[roles] ([roleid], [rolename]) VALUES (1, N'ADMIN')
INSERT [dbo].[roles] ([roleid], [rolename]) VALUES (2, N'MANAGER')
INSERT [dbo].[roles] ([roleid], [rolename]) VALUES (3, N'USER')
SET IDENTITY_INSERT [dbo].[roles] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [username], [password], [images], [fullname], [email], [phone], [roleid], [createDate]) VALUES (1, N'thong', N'123', NULL, N'ledaithong', N'ledaithong@gmail.com', NULL, 1, NULL)
INSERT [dbo].[users] ([id], [username], [password], [images], [fullname], [email], [phone], [roleid], [createDate]) VALUES (2, N'trung', N'123', NULL, N'phanngoctrung', N'phanngoctrung@gmail.com', NULL, 2, NULL)
INSERT [dbo].[users] ([id], [username], [password], [images], [fullname], [email], [phone], [roleid], [createDate]) VALUES (3, N'thien', N'123', NULL, N'tranngocthien', N'tranngocthien@gmail.com', NULL, 3, NULL)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [FK_users_roles] FOREIGN KEY([roleid])
REFERENCES [dbo].[roles] ([roleid])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [FK_users_roles]
GO
USE [master]
GO
